<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="static\styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>App del Bootcamp</h1></div>
    </div>

    
        
            <div class="content">
                <div class="card">
                    <h2>Subtitulo</h2>
                    <p class="text">Contenido</p> -->
                    <a href="http://127.0.0.1:5000/api/v1 ">aux</a>
                </div>
                
    
                
                </div> -->
                <div class="content">
                    <div class="card">
                        <h2>Otra ruta</h2>
                        <p class="text">Lorem ipsum dolor sit </p>
                        <a href="#">ruta</a>
                    </div>
                </div> -->

</div>
</body>
<footer>
    <p>Ramsés Landero</p>
</footer>
</html>